body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  font-family:Helvetica, sans-serif;
  background: linear-gradient(#0002A1 25%, #a2cef4 50%, #a2cef4 50%, #3F0071 100%);
}

h1 {
  font-size: 60px;
  color: #ffffff;
  margin-bottom: 40px;
  animation: fadeInUp 2s ease;
}


/*Fondo*/

   /* Que el canvas ocupe toda la pantalla */
    body {
      margin: 0;
      padding: 0;
      overflow: hidden;
      background: black;
    }
    canvas {
      display: block;
    }


/*colors 1 Morado 3F0071
 colors 2 Rosado  FB2576
 COLOR 3 AZUL CLARO 332FD0
 COLOR 4 AZUL OSCURO 0002A1  */