@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(40px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/*Botones*/
.button {
  position: relative;
  display: inline-block;
  margin: 20px;
}

.button a {
  color: white;
  font-family: Helvetica, sans-serif;
  font-weight: bold;
  font-size: 36px;
  text-align: center;
  text-decoration: none;
  background-color: #fb2576;
  display: block;
  position: relative;
  padding: 20px 40px;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  text-shadow: 0px 1px 0px #000;
  filter: dropshadow(color=#000, offx=0px, offy=1px);

  -webkit-box-shadow: inset 0 1px 0 #ffe5c4, 0 10px 0 #f555d2;
  -moz-box-shadow: inset 0 1px 0 #ffe5c4, 0 10px 0 #f555d2;
  box-shadow: inset 0 1px 0 #ffe5c4, 0 10px 0 #f555d2;

  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.button a:active {
  top: 10px;
  background-color: #332fd0;

  -webkit-box-shadow: inset 0 1px 0 #ffe5c4, inset 0 -3px 0 #002cbb;
  -moz-box-shadow: inset 0 1px 0 #ffe5c4, inset 0 -3pxpx 0 #002cbb;
  box-shadow: inset 0 1px 0 #ffe5c4, inset 0 -3px 0 #002cbb;
}

.button:after {
  content: "";
  height: 100%;
  width: 100%;
  padding: 4px;
  position: absolute;
  bottom: -15px;
  left: -4px;
  z-index: -1;
  background-color: #2b1800;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

/*Contenedor de imagenes y botones*/
.content-container {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  gap: 500px;
  width: 100%;
  justify-content: center;
}

.column {
  display: flex;
  flex-direction: column;
  align-items: center;

  max-width: 350px;
}

.image-container {
  width: 500px;
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;

}

.image-container img {
  width: 300px;
  height: 500px;
  object-fit: cover;
}


/**Contenedor titulos*/
/* Caja de bienvenida sobre el efecto */
.titulos {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #3e007128;
  color: #fb2576;
  font-family: monospace;
  text-align: center;
  padding: 100px 500px;
  border: 2px solid #fb2576;
  border-radius: 8px;
  z-index: 10;
  font-size: 10px;
   backdrop-filter: blur(10px);
}

/*medeia para compu*/
@media (max-width: 1440px) {
  .button {
    margin: 15px auto;
    max-width: 250px;
  }

  .button a {
    padding: 10px 20px;
  }

  .titulos {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #3e007128;
    color: #fb2576;
    font-family: monospace;
    text-align: center;
    padding: 200px 200px;
    border: 2px solid #fb2576;
    border-radius: 8px;
    z-index: 10;
    font-size: 50px;
  }

.content-container {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  gap: 200px;
  width: 100%;
  justify-content: center;
}
.image-container img {
  width: 300px;
  height: 400px;
  object-fit: cover;
}

}

/*medeia para compu*/
@media (max-width: 1040px) {
  .button {
    margin: 15px auto;
    max-width: 250px;
  }

  .button a {
    padding: 10px 20px;
  }

  .titulos {
    align-content: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #3e007128;
    color: #fb2576;
    font-family: monospace;
    text-align: center;
    padding: 100px 90px;
    border: 2px solid #fb2576;
    border-radius: 8px;
    z-index: 10;
    font-size: 50px;
  }
  .image-container img {
  width: 300px;
  height: 400px;
  object-fit: cover;
}

}
.content-container {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  gap: 200px;
  width: 100%;
  justify-content: center;
}


/* Media Queries para tablets */
@media (max-width: 768px) {
  .button {
    margin: 15px auto;
    max-width: 250px;
  }

  .button a {
    padding: 10px 20px;
  }

  .titulos {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #3e007128;
    color: #fb2576;
    font-family: monospace;
    text-align: center;
    padding: 90px 20px;
    border: 2px solid #fb2576;
    border-radius: 8px;
    z-index: 10;
    font-size: 50px;
  }

    .image-container img {
  width: 200px;
  height: 300px;
  object-fit: cover;
}

.content-container {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  gap: 90px;
  width: 100%;
  justify-content: center;
}
}

/*Medidas*/
